.SpotifyPlayer {
  width: 89%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: -20px;
  height: 100px;
}

.App {
  text-align: center;
}

.links {
  text-align: right;
  margin-right: 10px;
  font-size: calc(6px + 2vmin);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 35vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: calc(10px + 2vmin);
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #282c34;
  color: #eee;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 3vmin;
}

.hidden {
  display: none;
}

/** Buttons **/

.btn,
button {
  background-color: transparent;
  border-radius: 2em;
  border: 2px solid #1db954;
  color: white;
  cursor: pointer;
  font-size: 3vmin;
  padding: 0.7em 1.5em;
  transition: all 0.25s ease;
}

button {
  font-size: 1.5vw;
  margin-left: 10px;
  padding: 7px 30px;
}

.btn:hover,
button:hover {
  background: #1db954;
  color: #333;
}

.btn--login {
  margin: 0 auto;
}

/** Background **/

.background {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  filter: blur(8em) opacity(0.6);
  position: absolute;
}

.main-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  width: 80%;
  z-index: 1;
}

.main-container {
  flex: 1;
}

#buttonContainer {
  width: 50%;
}

/* .userButton {
  font-size: 1.5vw;
  padding: 10px 50px;
} */

/* Typography */

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: #1db954;
}

h1 {
  font-size: 4vw;
  font-family: "Staatliches";
}

h2 {
  font-size: 3vw;
  font-family: "Lato";
  font-weight: 700;
}

/* Playlist Styles */

form input {
  font-family: "Lato";
  margin: 5px;
}

.Player button {
  border: 1px solid transparent;
  background-color: #1db954;
  font-size: 1.5vw;
  margin: 70px 10px 10px;
}

#spacer {
  background-color: #1db954;
}

#playlistTable {
  border: 1px solid #1db954;
  margin-top: 20px;
}

#playlistTable > thead > tr > th {
  border: 1px solid #1db954;
  background-color: rgba(29, 185, 84, 0.6);
}

#playlistTable > tbody > tr > td {
  border: 1px solid #1db954;
  font-size: 1.5vw;
  font-weight: 400;
}

#currentSong {
  font-weight: 700;
}

.roomID {
  font-family: "lato";
  font-weight: 700;
  font-size: 3vw;
  color: #1db954;
  letter-spacing: 7px;
}

.nickname {
  color: #1db954;
}

#currentSong {
  font-size: 1vw;
  color: #333;
  border: 1px solid #1db954;
}
