.Modal {
    position: absolute;
    top: 150px;
    left: 150px;
    right: 150px;
    bottom: 150px;
    background-color: #333;
    ;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
}

.content {
    margin: 100px;
}

#close {
    position: absolute;
    left: 1060px;
    border: none;
    color: white;
}

#close:hover {
    background: none;
    color: #1DB954;
}

#submitNickname {
    border: none;
    border: 2px solid #1DB954;
    color: #1DB954;
    margin-left: 30px;
}

#submitNickname:hover {
    background: #1DB954;
    color: #333;


}

#nickname {
    background: white;
    border-radius: 5px;
    padding: 10px;
}